*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #c2b5fd,  #5c48b8);
}

.calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #f5f5f5;
    outline: none;
    background-color: #ffffffbf;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
    background-color: #ffffffe6;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: #222222bf;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: #ffffffbf;
    font-size: 1.5rem;
}

.output .current-operand {
    color: #ffffff;
    font-size: 2.5rem;
}